p,
label {
  font:
     
    sans-serif;
}

 
p{
    color: rgb(9, 9, 9);
} 
fieldset{
    width: 300px;
}
a:hover {
 color: black; 
  text-decoration: underline;
}

 
 
legend,div,input,label,fieldset{
  text-align: center;
}
 
